{% extends "auctions/layout.html" %}

{% block body %}
    {% for listing in listings %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ listing.author }}</a>
              <small class="text-muted">{{ listing.date|date:"F d, Y" }}</small>
              <small class="ml-3">Price: <b>${{ listing.price }}</b></small>
            </div>
            <h2><a class="article-title" href="{% url 'listing_detail' pk=listing.pk %}">{{ listing.title }}</a></h2>
            <p class="article-content">{{ listing.content }}</p>
			<img width=320 height=320 src="{{ listing.image.url }}" />
          </div>
        </article>

    {% endfor %}

{% endblock %}
