{% extends "auctions/layout.html" %}

{% block body %}

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" />
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
</div>

{% for item in watchlist %}
    <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ item.listing.author }}</a>
                <small class="text-muted">{{ item.listing.date|date:"F d, Y" }}</small>
                <small class="ml-3">Price: <b>99$</b></small>
            </div>
            <h2><a class="article-title" href="{% url 'listing_detail' item.listing.id %}">{{ item.listing.title }}</a></h2>
            <p class="article-content">{{ listing.content }}</p>
            <img width=320 height=320 src="{{ item.listing.image.url }}" />
            <br />
            <form action="remove_from_watchlist" method="POST">
                {% csrf_token %}
                <button class="btn btn-info small mt-3">Remove from watchlist</button>
                <input type="hidden" name="id" value="{{ item.id }}" />
            </form>
            </div>
    </article>
{% endfor %}

{% endblock body %}